@page
@model RazorPagesDemo.Pages.SimpleCalculatorModel
@{
}
<h1>Simple Calculator</h1>

@if(Model.InfoMessage != null)
{
    <div class="alert alert-info">
        @Model.InfoMessage
    </div>
}
@if(Model.ErrorMessage != null)
{
    <div class="alert alert-error">
        @Model.ErrorMessage
    </div>
}